
body {
    background: rgb(67, 128, 179);
}

#main {
    display:flex;
    justify-content: center;
    padding-top: 30px;
}

#nav-container {
    position: absolute;
}

.grid-container {
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    width: 600px;
    height: 500px;
    border-spacing: 0;
    margin-top: 100px;
  }

#grid {
    border: 30px black solid;
    border-radius: 25px;
    background-color: rgb(240, 240, 245);
    width: 500px;
    height: 500px;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    border-spacing: 0;
    margin-top: 100px;
}


.grid-container > div {
    display: inline-block;
    margin-top: -5px;
    margin-bottom: 0px;
}

button {
    border-radius: 25px;
}



#pxSet{
    background-color: blue;
    border:none;
}

#clear{
    background-color: red;
    border:none;
}

#color {
    background-color: green;
    border:none;
}

#rnd {
    background-color: orange;
    border:none;
}





